.container {
    padding-left: 292px; // 280 + 12
}

.nav {
    padding-top: 32px;
    padding-bottom: 32px;
}

.main {

    .student-photo,
    .user-photo {
        @include bg-user-photo;
        @include bg-img;
    }

    .student-photo {
        background-image: url(../images/emilywang.jpeg);
    }

    .user-photo {
        background-image: url(../images/andychen.jpeg);
    }
}